<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
	
<mapper namespace="com.SpringBoot.MBlog.Admin.mapper.UserFollowsMapper">
	<delete id="delFollwsByUserId" parameterType="java.lang.Long">
		delete from blog_follows 
		where source_id = #{u_id}
	</delete>
	<delete id="delFansByUserId" parameterType="java.lang.Long">
		delete from blog_follows 
		where target_id = #{u_id}
	</delete>
</mapper>